{% extends "baseLayout.html" %} {% block stylesheet %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/myaccount.css') }}"
/>

{% endblock %} {% block title %} Weird Diary - Admin {% endblock %}
{%block pageContent%}

<div class="myaccount-page-content">
  <div class="myaccount">
    <div class="articles-published" style="overflow-x: auto">
      <h1>Admin Panel</h1>
      <h2>Posts to approve</h2>
      <div>
        <table>
          <tr>
            <th>Post Heading</th>
            <th>Published Date</th>
            <th>Status</th>
          </tr>

          {% for post in unapprovedPosts %}

          <tr>
            <td>{{post.headline}}</td>
            <td>{{post.publishedDate.strftime('%Y-%m-%d')}}</td>
            <td>
            {% if post.isApproved %}
              Published
            {%else%}
              Pending
            {% endif %}
            </td>
            <td>
              <a href="{{ url_for('adminviews.approvepost', postid=post.id) }}">
                <i class="fa-solid fa-circle-check" style="font-size: 23px; color: rgb(1, 161, 1); cursor: pointer;"></i>
              </a>

              <a href="{{ url_for('blogviews.deletePost', postid=post.id) }}">
                <i class="fa-solid fa-circle-xmark" style="margin-left: 10px; font-size: 23px; color: rgb(255, 72, 72);cursor: pointer;"></i>
              </a>
            </td>
          </tr>

          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}