<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css"
    />
    <title>Welcome to Weird Diary</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/login.css" />
  </head>
  <body>
    <div class="navbar-container">
      <nav>
        <div class="logo">
          <img src="./images/ClipartKey_2603740.png" alt="" />
          <h3>WEIRD DIARY</h3>
        </div>

        <div class="nav-items">
          <ul>
            <li>
              <i id="darkmode-toggle" class="fa-regular fa-sun"></i>
            </li>
            <li class="nav-account">
              <div class="nav-account-container">
                <img src="./images/image.jpg" alt="Weird Diary User" />
                <div>
                  <p>John Doe</p>
                  <p>johndoe@gmail.com</p>
                </div>
              </div>
            </li>

            <li>Login</li>
            <li>Contact us</li>
            <li>About Us</li>
            <li><i class="fa-solid fa-1x fa-magnifying-glass"></i></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="post-page-content">
      <div class="authentication-form">
        <form action="">
          <h1 style="text-align: center">Admin Login</h1>
          <div class="input">
            <label for="email">Enter Email: </label>
            <input type="email" />
          </div>

          <div class="input">
            <label for="password">Enter Password: </label>
            <input type="password" />
          </div>

          <button class="authformsubmit-btn">Login</button>
        </form>
      </div>
    </div>

    <footer>
      <div class="footer">
        <div class="footer_main">
          <h3>Quick Start</h3>
          <ul>
            <li>All Posts</li>
            <li>Contact Us</li>
            <li>About Us</li>
            <li>Newsletter</li>
          </ul>
        </div>
        <div class="footer_main">
          <h3>About Payment</h3>
          <ul>
            <li>Payments</li>
            <li>Refunds</li>
            <li>Privacy Policy</li>
            <li>Newsletter</li>
          </ul>
        </div>

        <div class="footer_right">
          <div class="footer_links">
            <i
              style="color: rgb(25, 0, 255)"
              class="fa-brands fa-facebook fa-2x"
            ></i>
            <i
              style="color: rgb(54, 32, 255)"
              class="fa-brands fa-twitter fa-2x"
            ></i>
            <i
              style="color: rgb(121, 0, 0)"
              class="fa-brands fa-pinterest fa-2x"
            ></i>
            <i
              style="color: rgb(0, 97, 40)"
              class="fa-brands fa-whatsapp fa-2x"
            ></i>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
    <script src="./js/slider.js"></script>
    <script src="./js/darkModeScript.js"></script>
  </body>
</html>
