.myaccount-page-content {
  overflow-x: hidden;
  min-height: 60vh;
  padding: 5rem 4rem 0 4rem;
}

.myaccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.account-info {
  width: 100%;
}

.user-account-info img {
  width: 180px;
  border-radius: 50%;
}

.articles-published table {
  width: 80rem;
}

.articles-published table,
.articles-published th,
.articles-published td {
  border: 1px solid black;
  border-collapse: collapse;
}

.articles-published th,
.articles-published td {
  height: 40px;
}

.user-account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 27rem;
  padding: 5rem;
}

.articles-published {
  text-align: center;
}

.articles-published h2,
.user-infomation {
  margin: 2rem 0;
}

.user-infomation p {
  font-size: 1.1rem;
  margin-top: 5px;
}

.myaccount-button-container button {
  display: block;
  width: 30rem;
  margin-top: 1rem;
  height: 40px;
  cursor: pointer;
}

.myaccount-button-container button {
  background: rgb(214, 214, 214);
  font-size: 1rem;
  border: 1px solid rgb(194, 194, 194);
}

.approve-btn,
.deny-btn {
  width: 60px;
  height: 20px;
  background: rgb(4, 4, 243);
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
}

.deny-btn {
  background: red;
}

@media screen and (max-width: 500px) {
  .myaccount-button-container button {
    width: 80vw;
  }
}
